/* GENERAL */

*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Arial,sans-serif;
	font-size: 15px;
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
	color: rgb(58, 58, 58);
}

h2
{
	color: rgb(58, 58, 58);
	font-size: 26px;
}

h3
{
	font-size: 24px;
	color: rgb(58, 58, 58);
}

h4
{
	font-size: 16px;
	color: rgb(58, 58, 58);
}

p
{
	line-height: 20px;
	color: #777;
}

.wrapper
{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.clear
{
	clear: both;
}

/* HEADER */

header
{
	height: 50px;
    background-color: #efefef
}

header div
{
	text-align: center;
	width: 100%;
}

#leftnav
{
	float: left;
	width: 25%;
}

#rightnav
{
	float: right;
	width: 25%;
}

#centernav
{
	display: inline-block;
	width: 50%;
}


header nav ul li
{
	display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

header nav ul li a
{
	font-weight: bold;
	
}

#logo-user
{
    background: url("resources/images/imageUser.png") no-repeat;
    background-size: 100%;
    
}

.button1
{
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
}

/* FOOTER */

footer
{
	height: 180px;
	background-color: #444;
    padding-top: 15px;
}

footer div
{
	color: #fff;
	text-align: center;
	padding-top: 15px;
}

.copyright
{
	text-align: center;
	font-weight: bold;
	color: rgb(167, 165, 165);
}

#logo-moodle
{
    margin-top: 15px;
    background: url("resources/images/logomoodle.svg") no-repeat center;
    background-size: 100px;
    padding-bottom: 15px;
}