/* GENERAL */

*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Arial,sans-serif;
	font-size: 15px;
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
	color: rgb(58, 58, 58);
}

h2
{
	color: rgb(58, 58, 58);
	font-size: 26px;
}

h3
{
	font-size: 24px;
	color: rgb(58, 58, 58);
}

h4
{
	font-size: 16px;
	color: rgb(58, 58, 58);
}

p
{
	line-height: 20px;
	color: #777;
}

.wrapper
{
	width: 1080;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}

.clear
{
	clear: both;
}

/* HEADER */

header
{
	height: 50px;
    background-color: #ffffff;
}

header h1
{
	font-size: 30px;
	color: rgb(58, 58, 58);
}

header ul
{
	text-align: center;
	width: 100%;
	margin-top: 10px;
}

#leftnav
{
	float: left;
	width: 40%;
}

#rightnav
{
	float: right;
	width: 40%;
}

#centernav
{
	display: inline-block;
	width: 20%;
}

#logo-utbm
{
	width: 100px;
	background: url("resources/images/utbm_logo.png") no-repeat top;
    background-size: 60px;
}


header nav ul li
{
	display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

header nav ul li a
{
	font-weight: bold;
	
}

#logo-user
{
    background: url("resources/images/imageUser.png") no-repeat;
    background-size: 100%;
}

.button1
{
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
}

/* FOOTER */

footer
{
	height: 180px;
	background-color: #444;
    padding-top: 15px;
}

footer div
{
	color: #fff;
	text-align: center;
	margin-top: 15px;
}

.copyright
{
	text-align: center;
	font-weight: bold;
	color: rgb(167, 165, 165);
}

#logo-moodle
{
    margin-top: 15px;
    background: url("resources/images/logomoodle.svg") no-repeat center;
    background-size: 100px;
    padding-bottom: 30px;
}

/* UV */

section
{
	display: inline-block;
}

#id_page
{
	flex-direction: column;
	text-align: left;
	width: 19%;
	margin-bottom: 250px;
	margin-top: 50px;
	float: left;
}

#id_page h3
{
	margin-bottom: 30px;
	font-size: 30px;
	margin-left: 80px;
}

.boutonmenuprincipal {
    background-color: rgb(58, 58, 58);
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    font-size: 24px;
	width: 250px;
}
.boutonmenuprincipal:hover {
    background-color: rgb(58, 58, 58);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: #8f8f8f;
    width: 250px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.principal
{
	float: right;
	width: 81%;
	margin-top: 50px;
	color: rgb(58, 58, 58)
}

.title
{
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: bold;
}

.date
{
	font-weight: bold;
}

.core
{
	margin-top: 40px;
	font-size: 20px;
}

.r
{
	color: rgb(0,200,0);
}

.nr
{
	color: rgb(200,0,0);
}

.ar
{
	color: rgb(255,150,0);
}

.tabpart
{
	background-color: rgb(58, 58, 58);
	color: rgb(220, 220, 220);
}

th
{
	width: 400px;
	height: 50px;/*
	border: #444 solid 1px;
	border-left: #444 solid 3px;
	border-right: #444 solid 3px;*/
}

table
{
	border-collapse: collapse;
}

.calendar
{
	width: 250px;
}
/*
#intitule th
{
	border-top: #444 solid 3px;
}*/